div.header {
  background: linear-gradient(#160b20, #663399);
  height: 75px;
  width: 100%;
}

div.input-container {
  width: 75%;

  transform: translate(15%, 25%);
  background-color: white;
  padding: 10px;
  border: 2px solid black;
}

input {
  width: 210px;
}
span.liquor {
  margin-right: 10px;
}
